{%extends 'base.html'%}
{%block title%}About{%endblock%}
{%block content%}
<section class="ftco-section ftco-hireme img margin-top" style="background-image: url(/media/background_images/2.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 ftco-animate text-center">
                <h2>More <span>About Me</span></h2>
                <p class="text-white mb-0">
                    Welcome to the vibrant world of Isaac Omwenga Okeyo,
                    a Full Stack Web Developer with a passion for both coding and renewable energy solutions! 🌍💻
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mt-6 container text-white">
        <p class="py-4"><strong>Hey there!</strong> I’m Isaac, a Django enthusiast hailing from the sunny coastal city of Mombasa, Kenya. With
            a knack for crafting dynamic websites and a heart set on making a positive impact through renewable energy,
            I’m your go-to guy for all things web development and sustainability.
        </p>

        <h2 class="py-2"><strong>Who Am I?</strong></h2>
        <p class="py-2">I'm not your average developer - I'm a tech-savvy adventurer, juggling lines of code by day
            and championing renewable energy solutions by night. My journey began at the Technical University of
            Mombasa, where I delved into the realms of Renewable Energy and Environmental Physics, setting the stage
            for my dual passion in tech and sustainability.</p>

        <h2 class="py-2"><strong>What Do I Do?</strong></h2>
        <p class="py-2">As a Freelance Django Web Developer, I'm on a mission to turn ideas into digital realities.
            With a swift hand and a keen eye for detail, I’ve crafted custom Django websites faster than you can say
            "Python" (well, almost). From sleek interfaces to robust back-end systems, I bring dreams to life on the
            digital canvas.</p>

        <h2 class="py-2"><strong>Why Renewable Energy?</strong></h2>
        <p class="py-2">But wait, there's more! Beyond the realm of coding, I'm deeply passionate about renewable
            energy. During my stint at the Rural Electrification and Renewable Energy Corporation, I got my hands
            dirty (figuratively, of course) with real-world projects aimed at lighting up rural communities and powering
            a sustainable future. From conducting feasibility studies to spearheading project implementations, I've seen
            firsthand the transformative power of clean energy solutions.</p>

        <h2 class="py-2"><strong>What Makes Me Tick?</strong></h2>
        <p class="py-2">When I'm not glued to my screen, you'll find me behind the wheel, cruising the open roads or
            diving headfirst into new coding challenges. With fluency in both English and Swahili, I bridge the gap
            between languages and cultures, creating seamless digital experiences for users worldwide.
        </p>
        <p class="py-2">So, whether you're in need of a cutting-edge website or a brainstorming buddy for your next
            eco-friendly venture, I'm your guy! Let's code a brighter future together, one line at a time. Connect
            with me today and let's bring your digital dreams to life!
        </p>
        <p class="py-2">Ready to embark on this exciting journey? Let's chat! 🚀</p>
        <p class="py-2">P.S. Need references? I’ve got a stellar lineup of folks who can vouch for my coding chops and
            entrepreneurial spirit. Just give them a ring! 📞</p>
    </div>
</section>
{%endblock%}