{%extends 'base.html'%}
{%block title%}My Works{%endblock%}
{%block content%}
<section class="ftco-section ftco-project" id="projects-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4"> All My Works</h2>
                <p>"Explore my entire web development portfolio, showcasing tailor-made websites for NGOs, affiliate
                    marketing ventures, and e-commerce platforms. Each project reflects my commitment to excellence and
                    client satisfaction."</p>
            </div>
        </div>
        <div class="row">
            {%if works%}
            {%for work in works%}
            <div class="col-md-4">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                     style="background-image: url({{work.image.url}});">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="{{work.link}}">{{work.name}}</a></h3>
                        <span>{{work.type}}</span>
                    </div>
                </div>
            </div>
            {%endfor%}
            {%endif%}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center ftco-animate">
            <p><a href="{%url 'hire_me'%}"
                  class="btn btn-primary py-4 px-5">Hire Me</a></p>
        </div>
    </div>
</section>
{%endblock%}