{%extends 'base.html'%}
{%block title%}Web Design{%endblock%}
{%block content%}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{%url 'index'%}">ISAAC OKEYO</a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse"
                data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a href="{%url 'index'%}" class="nav-link"><span>Home</span></a></li>
                <li class="nav-item"><a href="#contact-section" class="nav-link"><span>Contact</span></a></li>
            </ul>
        </div>
    </div>
</nav>


<section class="ftco-section ftco-hireme img margin-top" style="background-image: url(/media/background_images/2.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 ftco-animate text-center">
                <h2><span>Web Design</span></h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mt-6 container text-white">
        <h2 class="py-2">Crafting Sustainable Online Experiences with me: Your Full Stack Web Developer</h2>
        <p class="py-2">
            Welcome to the forefront of web development, where innovation merges seamlessly with sustainability.
            Meet me, your go-to Full Stack Web Developer and Renewable Energy Technologist based in Mombasa, Kenya,
            who brings a unique blend of technical prowess and environmental consciousness to the digital landscape.
        </p>

        <h2 class="py-2">Empowering Businesses with Renewable Energy Solutions</h2>
        <p class="py-2">My journey into web development is intertwined with my passion for renewable energy.
            Drawing from my experience at the Rural Electrification and Renewable Energy Corporation (REREC),
            I have honed my skills not just in coding but in understanding the intricate balance between
            technology and sustainability. I'm adept at integrating renewable energy systems into web solutions,
            ensuring that every digital venture contributes to a greener, more sustainable future.
        </p>

        <h2 class="py-2">Django Development: Bridging Technology and Sustainability</h2>
        <p class="py-2">As a Django wizard, I don't just build websites; I craft immersive online experiences
            that resonate with users and leave a lasting impact. With expertise in both front-end and back-end
            development, I ensure that every website I create is not only visually stunning but also functionally
            robust. Whether it's optimizing back-end systems for maximum efficiency or implementing cutting-edge
            features that push the boundaries of web development, my mastery of Django empowers businesses
            to thrive in the digital age.
        </p>

        <h2 class="py-2">From Concept to Reality: Bringing Digital Dreams to Life</h2>
        <p class="py-2">Collaboration lies at the heart of my approach to web design. From startups aiming to make
            a splash in the market to established businesses looking to elevate their online presence, I partner
            with clients every step of the way to transform their vision into a digital reality. My track record
            as a freelance Django developer speaks volumes – rapid delivery, clear communication, and, above all,
            unwavering commitment to exceeding client expectations.
        </p>

        <h2 class="py-2">Beyond Coding: A Holistic Approach to Web Design</h2>
        <p class="py-2">But my expertise extends beyond coding. As an importer of AirPods and former Cyber Cafe
            Assistant, I'm no stranger to the entrepreneurial spirit and the importance of seamless user experiences.
            My technical troubleshooting abilities ensure smooth operations, while my entrepreneurial acumen adds
            a layer of business insight to my web design projects.
        </p>

        <h2 class="py-2">Get Ready to Build Something Extraordinary</h2>
        <p class="py-2">So, whether you're looking to launch a new website, optimize an existing one, or explore
            innovative
            ways to integrate renewable energy solutions into your digital strategy, I am your go-to partner. Together,
            let's harness the power of web development to create sustainable, high-impact online experiences that stand
            out in the digital landscape. Get ready to build something extraordinary – with me by your side, the
            possibilities
            are endless.
        </p>

    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center ftco-animate">
            <p><a href="{%url 'hire_me'%}"
                  class="btn btn-primary py-4 px-5">Hire Me</a></p>
        </div>
    </div>
</section>
{%endblock%}